{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
<Style type='text/css' >body{background-color:rgb(0,0,0);background-image:url(https://www.commentnation.com/hotlinks/blue_watermark_hearts_on_white.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;}</Style>
<div class="row justify-content-center my-3">
  <div class="col-5">
    <br>
    <img src="{% static 'portfolio/photo-output.jpg' %}" class="img-fluid">
  </div>
</div>
<br>
<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <div class="card">
      <div class="card-body">
        <h1 id="hometext" class="font-weight-bold" style="font-family:Comic Sans MS;color:Lightblue">
          I’m Apoorva, nice to meet you. Please take a look around! Thanks!
        </h1>
      </div>
    </div>

  </div>
</div>
<br>
<h2 class="mt-5" style="font-family:Comic Sans MS;color:darkblue">Feel free to reach out through any platforms below:</h2>
<hr>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% for info in infos %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <h4 style ="font-family:Comic Sans MS;color:Lightblue">
              <center>{{ info.title }}</center>
            </h4>
            <img class="card-img-top" src="{{ info.image.url }}" width="300" height="300"/>
            <div class="card-body">
              <h5 class="card-text">
                <center style ="font-family:Comic Sans MS;color:DarkBlue">
                  {{ info.description }}</center>
              </h5>
              {% if info.url %}
              <br>
              <center>
                <a href="{{ info.url }}" class="badge badge-pill badge-info">
                Click to connect
                </a>
              </center>
              <br>
              <br>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<br>
<footer class="text-muted">
  <div class="container text-center">
    <p>© Apoorva Sharma {% now "Y" %}</p>
  </div>
</footer>

{% endblock %}
